body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  font-size: 12px;
}
h1 {
  text-align: center;
}
img {
  border: 0;
  margin: 0;
}
caption {
  font-size: larger;
  font-weight: bold;
  text-align: left;
  margin-left: 0.5em;
}
thead th {
   text-align: center;
   background-color: #C8C8E8 !important;
   padding: .5em;
}
thead th:first-child {
   -moz-border-radius-topleft: 0.5em;
   -webkit-border-top-left-radius: 0.5em;
   border-top-left-radius: 0.5em;
}
thead th:last-child {
   -moz-border-radius-topright: 0.5em;
   -webkit-border-top-right-radius: 0.5em;
   border-top-right-radius: 0.5em;
}
tbody th {
   background-color: #C8C8E8;
   white-space: nowrap;
   text-align: left;
}
tbody th, tbody td, tfoot td {
   padding: .2em .5em;
}
tbody {
   background-color: white;
}
tbody tr.row_total, tfoot tr {
   background-color: #CFCFCF;
   font-weight: bold;
}
table.invisible th {
   background-color: transparent;
   font-weight: bold;
}

fieldset {
   padding: 0;
   border: 0;
}
input, select, textarea {
   font-family: tahoma, Verdana, sans-serif;
   font-size: 11px;
}

#validateTips, .validateTips { border: 1px solid transparent; padding: 0.3em; }

#login {
   text-align: left;
   padding: 4px;
}

div.menu table {
   border: 1px solid black;
   width: 100%
}
div.menu td {
  background-color: #e8e8e8;
  border: 0 solid white;
  font-family : Verdana,Arial,Helvetica,sans-serif;
  white-space : nowrap;
  text-align : center;
  font-size: 10pt;
  padding: .5em;
}

#content {
  margin-top: 2em;
}

#homepage_list {
  font-size: larger;
  font-weight: bold;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.float {
  float: left;
  margin-right: 1em;
}

.floatr {
  float: right;
}

.caption_font {
  font-size: larger;
  font-weight: bold;
  text-align: left;
}

.help_font {
  font-style: italic;
  color: gray;
}

.error_font {
  font-style: italic;
  color: red;
}
.warn_font {
  font-style: italic;
  color: orange;
}
.success_font {
  font-style: italic;
  color: blue;
}

.chartcontainer {
   border: 1px solid black;
   padding: 30px;
   background-color: #E8E8E8;
}
.generatedImage {
   height: 10px;
   width: 10px;
   margin-right:5px;
   margin-top:2px;
   border: 1px solid black;
}

/* flag-sprites.com : Blogpotato.de small */
.flag {
   width: 18px;
   height: 12px;
   background:url(images/flags.png) no-repeat;
}
.flag.flag-br {
   background-position: -18px 0;
}
.flag.flag-fr {
   background-position: -36px 0;
}
.flag.flag-gb {
   background-position: 0 -12px;
}
.flag.flag-pt {
   background-position: -18px -12px;
}
.flag.flag-us {
   background-position: -36px -12px;
}

/* JQuery Hacks */
input.datepicker, img.ui-datepicker-trigger {
  vertical-align: middle;
}

/* START Datatable */
.dataTables_filter {
   width: 50%;
   float: right;
   text-align: right;
}

table.display thead th {
   cursor: pointer;
}

table.display thead .sorting_asc {
   background: url('images/sort_asc.png') no-repeat center right;
}

table.display thead .sorting_desc {
   background: url('images/sort_desc.png') no-repeat center right;
}

table.display thead .sorting {
   background: url('images/sort_both.png') no-repeat center right;
}

table.display tbody tr:hover {
   background-color: rgb(128,128,255);
}

.dataTables_scroll {
   clear: both;
}

.dataTables_scrollBody {
   *margin-top: -1px;
   -webkit-overflow-scrolling: touch;
}
/* END Datatable */
