body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  font-size: 12px;
}


h1 {
  text-align: center;
}

hr {
   border: 0;
   border-top: 1px solid #B6B6B6;
}

img {
  border: 0;
  margin: 0;
}
table {
   background-color: #E8E8E8;
   border: 1px solid #B6B6B6;
   padding: .5em;
}
caption {
   font-size: larger;
   font-weight: bold;
   text-align: left;
   margin-left: .5em;
   margin-bottom: .4em;
}
thead th {
   text-align: center;
   background-color: #C8C8E8;
   padding: .5em;
   white-space: nowrap;
}
thead th:first-child {
   -moz-border-radius-topleft: 0.5em;
   -webkit-border-top-left-radius: 0.5em;
   border-top-left-radius: 0.5em;
}
thead th:last-child {
   -moz-border-radius-topright: 0.5em;
   -webkit-border-top-right-radius: 0.5em;
   border-top-right-radius: 0.5em;
}
tbody th {
   background-color: #C8C8E8;
   white-space: nowrap;
   text-align: left;
}
tbody th, tbody td, tfoot td {
   padding: .2em .5em;
}
tbody {
   background-color: white;
}
tbody tr.row_total, tfoot tr {
   background-color: #CFCFCF;
   font-weight: bold;
}
tbody tr.row_selected {
   background-color: rgb(128,128,255);
}
tbody td {
   text-align: left;
}
table.invisible {
   background-color: transparent;
   border: none;
   padding: 0;
}
table.invisible th {
   background-color: transparent !important;
   font-weight: bold;
}
table.invisible tbody {
   background-color: transparent;
}

table.gray {
   background-color: #E6E6E6;
   border: none;
   padding: 1;
}
table.gray th {
   background-color: LightGray !important;
   font-weight: bold;
}
table.gray tbody {
   background-color: transparent;
}

.pointer {
   cursor: pointer;
}

.hover {
   cursor: pointer;
}
.hover:hover {
   border: 1px solid #7096AB;
}

/* remove the annoying wobble when hovering over the header of the time tracking table */
.dayHeader,
.dayTask {
    border: 1px solid transparent;
}

fieldset {
   padding: 0;
   border: 0;
}
input, select, textarea {
   font-family: tahoma, Verdana, sans-serif;
   font-size: 11px;
}
/*
input, select {
   padding: 2px;
}
*/
#validateTips, .validateTips { border: 1px solid transparent; padding: 0.3em; }

#login {
   text-align: left;
   padding: 4px;
}

div.menu table {
   border: 1px solid black;
   width: 100%;
   padding: 0;
}
div.menu td {
  background-color: #e8e8e8;
  border: 0 solid white;
  font-family : Verdana,Arial,Helvetica,sans-serif;
  white-space : nowrap;
  text-align : center;
  font-size: 10pt;
  padding: .5em;
}

#content {
  margin-top: 3em;
}

#homepage_list {
  font-size: larger;
  font-weight: bold;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* DEPRECATED */
.float {
  float: left;
  margin-right: 1em;
}

/* DEPRECATED */
.floatr {
  float: right;
}

/* replacement for float & floatr */
.inlineBlock {
  display: inline-block;
  vertical-align: top;
}

.caption_font {
  font-size: larger;
  font-weight: bold;
  text-align: left;
}

.help_font {
  font-style: italic;
  color: gray;
}

.error_font {
  font-style: italic;
  color: red;
}
.warn_font {
  font-style: italic;
  color: orange;
}
.success_font {
  font-style: italic;
  color: blue;
}

.chartcontainer {
   border: 1px solid black;
   padding: 30px;
   background-color: #E8E8E8;
}
.generatedImage {
   height: 10px;
   width: 10px;
   margin-right:5px;
   margin-top:2px;
   border: 1px solid black;
}

/* flag-sprites.com : Blogpotato.de small */
.flag {
	width: 18px;
	height: 12px;
	background:url(images/flags.png) no-repeat
}
.flag.flag-br {background-position: -18px 0}
.flag.flag-cn {background-position: -36px 0}
.flag.flag-de {background-position: 0 -12px}
.flag.flag-es {background-position: -18px -12px}
.flag.flag-fr {background-position: -36px -12px}
.flag.flag-gb {background-position: 0 -24px}
.flag.flag-it {background-position: -18px -24px}
.flag.flag-nl {background-position: -36px -24px}

.progress {
   width:111px;
}

.ui-progressbar-value div {
   position:relative;
   left:37px;
   top:-1px;
}

.incompleteDay {
   background-color: #FF809F;
}

/* JQuery Hacks */
input.datepicker, img.ui-datepicker-trigger {
   vertical-align: middle;
   display: inline-block;
   text-align: center;
}

/* MBU makes the trigger field look nicer */
img.ui-datepicker-trigger {
   margin-left:2px;
}


/* START Datatable */
table.datatable, table.datatable_minimal, table.datatable_csv, table.display {
   padding: 0;
   border: 0;
}

.dataTables_filter {
   width: 50%;
   float: right;
   text-align: right;
}

table.datatable thead th, table.display thead th {
   cursor: pointer;
}

table.datatable thead .sorting_asc, table.display thead .sorting_asc {
   background-image: url('images/sort_asc.png');
   background-repeat: no-repeat;
   background-position: center right;
}

table.datatable thead .sorting_desc, table.display thead .sorting_desc {
   background-image: url('images/sort_desc.png');
   background-repeat: no-repeat;
   background-position: center right;
}

table.datatable thead .sorting, table.display thead .sorting {
   background-image: url('images/sort_both.png');
   background-repeat: no-repeat;
   background-position: center right;
}

table tbody tr:hover {
   background-color: rgb(220,220,255);
}

table.invisible tbody tr:hover {
   background-color: transparent;
}

.dataTables_scroll {
   clear: both;
   background-color: #E8E8E8;
   border: 1px solid #B6B6B6;
   padding: .5em;
}

.dataTables_scrollBody {
   margin-top: -1px;
   -webkit-overflow-scrolling: touch;
}

.DTTT_container a.DTTT_button {
	padding: 0px 3px;
}

/* END Datatable */

/* START PowerTip Plugin */
#powerTip {
   cursor: default;
   /* CODEVTT Modification */
   background-color: #767676; /* fallback for browsers that dont support rgba */
   /*background-color: #333; /* fallback for browsers that dont support rgba */
   /* CODEVTT Modification */
   background-color: rgba(118, 118, 118, 0.8);
   /*background-color: rgba(0, 0, 0, 0.8);*/
   border-radius: 6px;
   /* CODEVTT Modification */
   /*color: #FFF;*/
   display: none;
   /* CODEVTT Modification */
   padding: 3px;
   /*padding: 10px;*/
   position: absolute;
   white-space: nowrap;
   z-index: 2147483647; /* https://github.com/stevenbenner/jquery-powertip/commit/b69bf44bdc3f14314c65901c2bdee5d561b905b7 */
}
#powerTip.n:before, #powerTip.e:before, #powerTip.s:before, #powerTip.w:before,
#powerTip.ne:before, #powerTip.nw:before, #powerTip.se:before, #powerTip.sw:before {
   content: "";
   position: absolute;
}
#powerTip.n:before, #powerTip.s:before {
   border-right: 5px solid transparent;
   border-left: 5px solid transparent;
   left: 50%;
   margin-left: -5px;
}
#powerTip.e:before, #powerTip.w:before {
   border-bottom: 5px solid transparent;
   border-top: 5px solid transparent;
   margin-top: -5px;
   top: 50%;
}
#powerTip.n:before {
   /* CODEVTT Modification */
   border-top: 10px solid rgb(118, 118, 118);
   /*border-top: 10px solid rgba(0, 0, 0, 0.8);*/
   bottom: -10px;
}
#powerTip.e:before {
   /* CODEVTT Modification */
   border-right: 10px solid rgb(118, 118, 118);
   /*border-right: 10px solid rgba(0, 0, 0, 0.8);*/
   left: -10px;
}
#powerTip.s:before {
   /* CODEVTT Modification */
   border-bottom: 10px solid rgb(118, 118, 118);
   /*border-bottom: 10px solid rgba(0, 0, 0, 0.8);*/
   top: -10px;
}
#powerTip.w:before {
   /* CODEVTT Modification */
   border-left: 10px solid rgb(118, 118, 118);
   /*border-left: 10px solid rgba(0, 0, 0, 0.8);*/
   right: -10px;
}
#powerTip.ne:before, #powerTip.se:before {
   border-right: 10px solid transparent;
   border-left: 0;
   left: 10px;
}
#powerTip.nw:before, #powerTip.sw:before {
   border-left: 10px solid transparent;
   border-right: 0;
   right: 10px;
}
#powerTip.ne:before, #powerTip.nw:before {
   /* CODEVTT Modification */
   border-top: 10px solid rgb(118, 118, 118);
   /*border-top: 10px solid rgba(0, 0, 0, 0.8);*/
   bottom: -10px;
}
#powerTip.se:before, #powerTip.sw:before {
   /* CODEVTT Modification */
   border-bottom: 10px solid rgb(118, 118, 118);
   /*border-bottom: 10px solid rgba(0, 0, 0, 0.8);*/
   top: -10px;
}

/* END PowerTip Plugin */

/* START Dropdown */

ul.submenu {
   z-index: 1;
   visibility: hidden;
   position: absolute;
   top: 100%;
   left: 0;
	width: 200px; /* fix for Chrome, which will otherwise use the aggregated width of all list items */
	border-top: 1px solid #B6B6B6; /* fix for IE, otherwise the sub-menu will disappear on slow mouse movement */
	padding-left: 0;
}
ul.submenu li {
   background: #E8E8E8;
   border: 0;
   width: 100%;
   padding: 2px 10px !important;
   margin: 0 !important;
   display: inline;
}

ul.submenu li:hover {
   background-color: #C8C8E8;
}

/* IE 6 & 7 Needs Inline Block */
ul.submenu li a {
   font-weight: normal !important;
   padding: 0 !important;
   width: 100%;
   display: inline-block;
   border: 0;
}

/* LEVEL THREE */
ul.submenu ul {
   left: 100%;
   top: 0;
}

.dropdown-li-opened .submenu {
        visibility: visible;
}
.submenu {
       visibility: hidden;
}
.dropdown-icon { width: 16px; height: 16px; background-image: url(images/dropdown-icons_808080_256x240.png); display: inline-block;}
.dropdown-icon-triangle-1-s { background-position: -64px -16px; }

.dropdown-title {
  padding: 0.2em 1em;
  padding-right: 0.5em;
  float: left;
  text-decoration: none; 
  font-size: 12px; 
  font-weight: normal; 
  text-shadow: 0 1px 0 rgba(255,255,255,0.5); 
  color: black;
}

.ui-state-active .dropdown-title {
  font-weight: bold;
  color: black;
}

/* END Dropdown */

/* remove close button from dialogbox */
.no-close .ui-dialog-titlebar-close {display: none }

/* vertical tabs */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

/* tabs should not be displayed be default, because of ugly flash on page construction. (FOC) */
.tabs > div { display:none; }

/* START Table with scrollbar */
#table-wrapper {
  position:relative;
}
#table-scroll {
  overflow:auto;
}
#table-wrapper table {
  width:100%;
}
/* END Table with scrollbar */

.imgCsvExport {
   cursor: pointer;
   background-image: url("images/b_export_xls.gif");
}

.moveIssueTimetracks form input
{
    margin: 5px 0px;
}

.moveIssueTimetracks_message
{
    margin: 10px 0px;
}

.moveIssueTimetracks .datepicker
{
    width: 40%;
}

.moveIssueTimetracks_table
{
    margin: 10px 0px;
}

.moveIssueTimetracks span.ui-button-text
{
    font-size: 12px;
}