


body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  font-size: 12px; 
}
code {
  font-family: sans-serif;
  color: black;
  background-color: white;
  font-size: 12px; 
}
h1 {
  text-align: center;
}
img {
  border: 0;
  margin: 0;
}
table {
  border: 1px solid black;
  //border-collapse: collapse;
}
caption {
  font-size: larger;
  font-weight: bold;
  text-align: left;
}
th {
  background-color: #c8c8e8;
  border: 0px solid withe;
  margin: 0;
  padding: 0px 2px;
}
td {
  background-color: #e8e8e8;
  border: 0px solid white;
  margin: 0;
  padding: 0px 2px;
}

#login {
  text-align: left;
  padding: 4px;
}

#header table {
  border: 1px solid white; 
  width: 100%
}
#header td {
  background-color: white;
  border: 0px solid white;
  font-family : Verdana,Arial,Helvetica,sans-serif;
  white-space : nowrap;
  text-align : center;
  font-size: 12px;
  padding: 0px;
}

table.invisible {
  border: 0;
  background-color: white; 
}
table.invisible td {
  background-color: white;
  border: 0px solid white;
  font-family : Verdana,Arial,Helvetica,sans-serif;
  white-space : nowrap;
  text-align : left;
  font-size: 12px;
  padding: 3px;
}



#homepage_list {
  font-size: larger;
  font-weight: bold;
}

#menu {
}
#menu ul { /* remove bullets and list indents */
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu table {
  /* border: 1px solid black; */ 
  width: 100%
}
#menu td {
  background-color: #e8e8e8;
  border: 0px solid white;
  font-family : Verdana,Arial,Helvetica,sans-serif;
  white-space : nowrap;
  text-align : center;
  font-size: 12px;
  padding: 4px;
}

#mantis, #timetracking, #reports {
  padding: 5px;
  margin: 5px;
}

#content {
  margin-top: 2em;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.float {
  float: left;
  margin-right: 1em;
}

.floatr {
  float: right;
}

.spacer {
  clear: both;
}

.caption_font {
  font-size: larger;
  font-weight: bold;
  text-align: left;
}

.help_font {
  font-style: italic;
  color: grey;
}
