body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  font-size: 12px;
}


h1 {
  text-align: center;
}

hr {
   border: 0;
   border-top: 1px solid #B6B6B6;
}

img {
  border: 0;
  margin: 0;
}
table {
   background-color: #E8E8E8;
   border: 1px solid #B6B6B6;
   padding: .5em;
}
caption {
   font-size: larger;
   font-weight: bold;
   text-align: left;
   margin-left: .5em;
   margin-bottom: .4em;
}
thead th {
   text-align: center;
   background-color: #C8C8E8;
   padding: .5em;
   white-space: nowrap;
}
thead th:first-child {
   -moz-border-radius-topleft: 0.5em;
   -webkit-border-top-left-radius: 0.5em;
   border-top-left-radius: 0.5em;
}
thead th:last-child {
   -moz-border-radius-topright: 0.5em;
   -webkit-border-top-right-radius: 0.5em;
   border-top-right-radius: 0.5em;
}
tbody th {
   background-color: #C8C8E8;
   white-space: nowrap;
   text-align: left;
}
tbody th, tbody td, tfoot td {
   padding: .2em .5em;
}
tbody {
   background-color: white;
}
tbody tr.row_total, tfoot tr {
   background-color: #CFCFCF;
   font-weight: bold;
}
tbody tr.row_selected {
   background-color: rgb(128,128,255);
}
tbody td {
   text-align: left;
}
table.invisible {
   background-color: transparent;
   border: none;
   padding: 0;
}
table.invisible th {
   background-color: transparent !important;
   font-weight: bold;
}
table.invisible tbody {
   background-color: transparent;
}

table.gray {
   background-color: #E6E6E6;
   border: none;
   padding: 1;
}
table.gray th {
   background-color: LightGray !important;
   font-weight: bold;
}
table.gray tbody {
   background-color: transparent;
}

.pointer {
   cursor: pointer;
}

.hover {
   cursor: pointer;
}
.hover:hover {
   border: 1px solid #7096AB;
}

/* remove the annoying wobble when hovering over the header of the time tracking table */
.dayHeader,
.dayTask {
    border: 1px solid transparent;
}

fieldset {
   padding: 0;
   border: 0;
}
input, select, textarea {
   font-family: tahoma, Verdana, sans-serif;
   font-size: 11px;
}
/*
input, select {
   padding: 2px;
}
*/
#validateTips, .validateTips { border: 1px solid transparent; padding: 0.3em; }

#login {
   text-align: left;
   padding: 4px;
}

div.menu table {
   border: 1px solid black;
   width: 100%;
   padding: 0;
}
div.menu td {
  background-color: #e8e8e8;
  border: 0 solid white;
  font-family : Verdana,Arial,Helvetica,sans-serif;
  white-space : nowrap;
  text-align : center;
  font-size: 10pt;
  padding: .5em;
}

#content {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

#homepage_list {
  font-size: larger;
  font-weight: bold;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* DEPRECATED */
.float {
  float: left;
  margin-right: 1em;
}

/* DEPRECATED */
.floatr {
  float: right;
}

/* replacement for float & floatr */
.inlineBlock {
  display: inline-block;
  vertical-align: top;
}

.caption_font {
  font-size: larger;
  font-weight: bold;
  text-align: left;
}

.help_font {
  font-style: italic;
  color: gray;
}

.error_font {
  font-style: italic;
  color: red;
}
.warn_font {
  font-style: italic;
  color: orange;
}
.success_font {
  font-style: italic;
  color: blue;
}

.chartcontainer {
   border: 1px solid black;
   padding: 30px;
   background-color: #E8E8E8;
}
.generatedImage {
   height: 10px;
   width: 10px;
   margin-right:5px;
   margin-top:2px;
   border: 1px solid black;
}

/* flag-sprites.com : Blogpotato.de small */
.flag{
   /* display:inline-block; */
   /* position: relative; */
   width:16px;
   height:11px;
	background:url(images/flags.png) no-repeat
}


.flag.flag-gu{background-position:-96px -55px}
.flag.flag-mn{background-position:-208px -88px}
.flag.flag-va{background-position:-48px -154px}
.flag.flag-tibet{background-position:-32px -143px}
.flag.flag-fo{background-position:-64px -44px}
.flag.flag-th{background-position:-16px -143px}
.flag.flag-tr{background-position:-144px -143px}
.flag.flag-tl{background-position:-80px -143px}
.flag.flag-kz{background-position:-144px -77px}
.flag.flag-zm{background-position:-16px -165px}
.flag.flag-uz{background-position:-32px -154px}
.flag.flag-dk{background-position:-64px -33px}
.flag.flag-scotland{background-position:-176px -121px}
.flag.flag-gi{background-position:-224px -44px}
.flag.flag-gy{background-position:-128px -55px}
.flag.flag-bj{background-position:-112px -11px}
.flag.flag-fr{background-position:-80px -44px}
.flag.flag-mo{background-position:-224px -88px}
.flag.flag-ir{background-position:-112px -66px}
.flag.flag-io{background-position:-80px -66px}
.flag.flag-tm{background-position:-96px -143px}
.flag.flag-ch{background-position:-96px -22px}
.flag.flag-mt{background-position:-32px -99px}
.flag.flag-nl{background-position:-240px -99px}
.flag.flag-gp{background-position:-16px -55px}
.flag.flag-im{background-position:-48px -66px}
.flag.flag-tv{background-position:-176px -143px}
.flag.flag-mu{background-position:-48px -99px}
.flag.flag-pe{background-position:-96px -110px}
.flag.flag-vi{background-position:-112px -154px}
.flag.flag-hn{background-position:-176px -55px}
.flag.flag-ss{background-position:-128px -132px}
.flag.flag-ae{background-position:-16px 0}
.flag.flag-td{background-position:-240px -132px}
.flag.flag-pw{background-position:0 -121px}
.flag.flag-nu{background-position:-32px -110px}
.flag.flag-bt{background-position:-208px -11px}
.flag.flag-ms{background-position:-16px -99px}
.flag.flag-cv{background-position:-240px -22px}
.flag.flag-es{background-position:-224px -33px}
.flag.flag-mh{background-position:-144px -88px}
.flag.flag-la{background-position:-160px -77px}
.flag.flag-vn{background-position:-128px -154px}
.flag.flag-py{background-position:-16px -121px}
.flag.flag-br{background-position:-176px -11px}
.flag.flag-ye{background-position:-224px -154px}
.flag.flag-ie{background-position:0 -66px}
.flag.flag-gh{background-position:-208px -44px}
.flag.flag-cg{background-position:-80px -22px}
.flag.flag-cu{background-position:-224px -22px}
.flag.flag-hu{background-position:-224px -55px}
.flag.flag-sg{background-position:-224px -121px}
.flag.flag-at{background-position:-176px 0}
.flag.flag-lk{background-position:-224px -77px}
.flag.flag-vu{background-position:-144px -154px}
.flag.flag-bo{background-position:-160px -11px}
.flag.flag-jo{background-position:-208px -66px}
.flag.flag-er{background-position:-208px -33px}
.flag.flag-za{background-position:-256px -154px}
.flag.flag-rs{background-position:-80px -121px}
.flag.flag-nr{background-position:-16px -110px}
.flag.flag-ls{background-position:-256px -77px}
.flag.flag-jm{background-position:-192px -66px}
.flag.flag-tz{background-position:-208px -143px}
.flag.flag-ki{background-position:-16px -77px}
.flag.flag-sj{background-position:0 -132px}
.flag.flag-cz{background-position:-16px -33px}
.flag.flag-pg{background-position:-128px -110px}
.flag.flag-lv{background-position:-32px -88px}
.flag.flag-do{background-position:-96px -33px}
.flag.flag-lu{background-position:-16px -88px}
.flag.flag-no{background-position:-256px -99px}
.flag.flag-kw{background-position:-112px -77px}
.flag.flag-mx{background-position:-96px -99px}
.flag.flag-yt{background-position:-240px -154px}
.flag.flag-ly{background-position:-48px -88px}
.flag.flag-cy{background-position:0 -33px}
.flag.flag-ph{background-position:-144px -110px}
.flag.flag-my{background-position:-112px -99px}
.flag.flag-sm{background-position:-48px -132px}
.flag.flag-et{background-position:-240px -33px}
.flag.flag-ru{background-position:-96px -121px}
.flag.flag-tj{background-position:-48px -143px}
.flag.flag-ai{background-position:-64px 0}
.flag.flag-pl{background-position:-176px -110px}
.flag.flag-kp{background-position:-64px -77px}
.flag.flag-uy{background-position:-16px -154px}
.flag.flag-gb{background-position:-112px -44px}
.flag.flag-gs{background-position:-64px -55px}
.flag.flag-kurdistan{background-position:-96px -77px}
.flag.flag-rw{background-position:-112px -121px}
.flag.flag-ec{background-position:-128px -33px}
.flag.flag-mm{background-position:-192px -88px}
.flag.flag-pa{background-position:-80px -110px}
.flag.flag-wales{background-position:-160px -154px}
.flag.flag-kg{background-position:-256px -66px}
.flag.flag-ve{background-position:-80px -154px}
.flag.flag-tk{background-position:-64px -143px}
.flag.flag-ca{background-position:-16px -22px}
.flag.flag-is{background-position:-128px -66px}
.flag.flag-ke{background-position:-240px -66px}
.flag.flag-ro{background-position:-64px -121px}
.flag.flag-gq{background-position:-32px -55px}
.flag.flag-pt{background-position:-256px -110px}
.flag.flag-tf{background-position:-256px -132px}
.flag.flag-ad{background-position:0 0}
.flag.flag-sk{background-position:-16px -132px}
.flag.flag-pm{background-position:-192px -110px}
.flag.flag-om{background-position:-64px -110px}
.flag.flag-an{background-position:-112px 0}
.flag.flag-ws{background-position:-192px -154px}
.flag.flag-sh{background-position:-240px -121px}
.flag.flag-mp{background-position:-240px -88px}
.flag.flag-gt{background-position:-80px -55px}
.flag.flag-cf{background-position:-64px -22px}
.flag.flag-zanzibar{background-position:0 -165px}
.flag.flag-mw{background-position:-80px -99px}
.flag.flag-catalonia{background-position:-32px -22px}
.flag.flag-ug{background-position:-240px -143px}
.flag.flag-je{background-position:-176px -66px}
.flag.flag-km{background-position:-32px -77px}
.flag.flag-in{background-position:-64px -66px}
.flag.flag-bf{background-position:-48px -11px}
.flag.flag-mc{background-position:-80px -88px}
.flag.flag-sy{background-position:-192px -132px}
.flag.flag-sn{background-position:-64px -132px}
.flag.flag-kr{background-position:-80px -77px}
.flag.flag-eu{background-position:-256px -33px}
.flag.flag-bn{background-position:-144px -11px}
.flag.flag-st{background-position:-144px -132px}
.flag.flag-england{background-position:-192px -33px}
.flag.flag-lc{background-position:-192px -77px}
.flag.flag-dm{background-position:-80px -33px}
.flag.flag-be{background-position:-32px -11px}
.flag.flag-ni{background-position:-224px -99px}
.flag.flag-ua{background-position:-224px -143px}
.flag.flag-mz{background-position:-128px -99px}
.flag.flag-pf{background-position:-112px -110px}
.flag.flag-tn{background-position:-112px -143px}
.flag.flag-ee{background-position:-144px -33px}
.flag.flag-xk{background-position:-208px -154px}
.flag.flag-sx{background-position:-176px -132px}
.flag.flag-sd{background-position:-192px -121px}
.flag.flag-gd{background-position:-128px -44px}
.flag.flag-ci{background-position:-112px -22px}
.flag.flag-sz{background-position:-208px -132px}
.flag.flag-cl{background-position:-144px -22px}
.flag.flag-fi{background-position:0 -44px}
.flag.flag-ga{background-position:-96px -44px}
.flag.flag-jp{background-position:-224px -66px}
.flag.flag-de{background-position:-32px -33px}
.flag.flag-np{background-position:0 -110px}
.flag.flag-re{background-position:-48px -121px}
.flag.flag-bg{background-position:-64px -11px}
.flag.flag-sc{background-position:-160px -121px}
.flag.flag-ng{background-position:-208px -99px}
.flag.flag-qa{background-position:-32px -121px}
.flag.flag-mk{background-position:-160px -88px}
.flag.flag-aw{background-position:-208px 0}
.flag.flag-kn{background-position:-48px -77px}
.flag.flag-al{background-position:-80px 0}
.flag.flag-bw{background-position:-240px -11px}
.flag.flag-um{background-position:-256px -143px}
.flag.flag-ky{background-position:-128px -77px}
.flag.flag-tt{background-position:-160px -143px}
.flag.flag-so{background-position:-80px -132px}
.flag.flag-lt{background-position:0 -88px}
.flag.flag-by{background-position:-256px -11px}
.flag.flag-bb{background-position:0 -11px}
.flag.flag-us{background-position:0 -154px}
.flag.flag-md{background-position:-96px -88px}
.flag.flag-ag{background-position:-48px 0}
.flag.flag-hm{background-position:-160px -55px}
.flag.flag-as{background-position:-160px 0}
.flag.flag-eg{background-position:-160px -33px}
.flag.flag-sv{background-position:-160px -132px}
.flag.flag-sl{background-position:-32px -132px}
.flag.flag-fk{background-position:-32px -44px}
.flag.flag-am{background-position:-96px 0}
.flag.flag-ck{background-position:-128px -22px}
.flag.flag-tw{background-position:-192px -143px}
.flag.flag-kh{background-position:0 -77px}
.flag.flag-to{background-position:-128px -143px}
.flag.flag-se{background-position:-208px -121px}
.flag.flag-cd{background-position:-48px -22px}
.flag.flag-pn{background-position:-208px -110px}
.flag.flag-gr{background-position:-48px -55px}
.flag.flag-id{background-position:-256px -55px}
.flag.flag-vc{background-position:-64px -154px}
.flag.flag-somaliland{background-position:-96px -132px}
.flag.flag-bi{background-position:-96px -11px}
.flag.flag-pk{background-position:-160px -110px}
.flag.flag-pr{background-position:-224px -110px}
.flag.flag-bd{background-position:-16px -11px}
.flag.flag-co{background-position:-192px -22px}
.flag.flag-fm{background-position:-48px -44px}
.flag.flag-bm{background-position:-128px -11px}
.flag.flag-ar{background-position:-144px 0}
.flag.flag-bv{background-position:-224px -11px}
.flag.flag-sb{background-position:-144px -121px}
.flag.flag-mq{background-position:-256px -88px}
.flag.flag-eh{background-position:-176px -33px}
.flag.flag-bh{background-position:-80px -11px}
.flag.flag-it{background-position:-144px -66px}
.flag.flag-hr{background-position:-192px -55px}
.flag.flag-sa{background-position:-128px -121px}
.flag.flag-mv{background-position:-64px -99px}
.flag.flag-mg{background-position:-128px -88px}
.flag.flag-dz{background-position:-112px -33px}
.flag.flag-gg{background-position:-192px -44px}
.flag.flag-gm{background-position:-256px -44px}
.flag.flag-af{background-position:-32px 0}
.flag.flag-li{background-position:-208px -77px}
.flag.flag-sr{background-position:-112px -132px}
.flag.flag-vg{background-position:-96px -154px}
.flag.flag-cr{background-position:-208px -22px}
.flag.flag-tc{background-position:-224px -132px}
.flag.flag-ao{background-position:-128px 0}
.flag.flag-ma{background-position:-64px -88px}
.flag.flag-mr{background-position:0 -99px}
.flag.flag-gn{background-position:0 -55px}
.flag.flag-ne{background-position:-176px -99px}
.flag.flag-nf{background-position:-192px -99px}
.flag.flag-wf{background-position:-176px -154px}
.flag.flag-hk{background-position:-144px -55px}
.flag.flag-gf{background-position:-160px -44px}
.flag.flag-ps{background-position:-240px -110px}
.flag.flag-ic{background-position:-240px -55px}
.flag.flag-cw{background-position:-256px -22px}
.flag.flag-ml{background-position:-176px -88px}
.flag.flag-ax{background-position:-224px 0}
.flag.flag-gl{background-position:-240px -44px}
.flag.flag-dj{background-position:-48px -33px}
.flag.flag-cn{background-position:-176px -22px}
.flag.flag-ht{background-position:-208px -55px}
.flag.flag-lr{background-position:-240px -77px}
.flag.flag-tg{background-position:0 -143px}
.flag.flag-ba{background-position:-256px 0}
.flag.flag-ge{background-position:-144px -44px}
.flag.flag-bz{background-position:0 -22px}
.flag.flag-au{background-position:-192px 0}
.flag.flag-iq{background-position:-96px -66px}
.flag.flag-cm{background-position:-160px -22px}
.flag.flag-gw{background-position:-112px -55px}
.flag.flag-az{background-position:-240px 0}
.flag.flag-na{background-position:-144px -99px}
.flag.flag-fj{background-position:-16px -44px}
.flag.flag-zw{background-position:-32px -165px}
.flag.flag-bs{background-position:-192px -11px}
.flag.flag-il{background-position:-16px -66px}
.flag.flag-nz{background-position:-48px -110px}
.flag.flag-me{background-position:-112px -88px}
.flag.flag-si{background-position:-256px -121px}
.flag.flag-nc{background-position:-160px -99px}
.flag.flag-lb{background-position:-176px -77px}


.progress {
   width:111px;
}

.ui-progressbar-value div {
   position:relative;
   left:37px;
   top:-1px;
}

.incompleteDay {
   background-color: #FF809F;
}

/* JQuery Hacks */
input.datepicker, img.ui-datepicker-trigger {
   vertical-align: middle;
   display: inline-block;
   text-align: center;
}

/* MBU makes the trigger field look nicer */
img.ui-datepicker-trigger {
   margin-left:2px;
}


/* START Datatable */
table.datatable, table.datatable_minimal, table.datatable_csv, table.datatable_csv_editable, table.display {
   padding: 0;
   border: 0;
}

.dataTables_filter {
   width: 50%;
   float: right;
   text-align: right;
}

table.datatable thead th, table.display thead th {
   cursor: pointer;
}

table.datatable thead .sorting_asc, table.display thead .sorting_asc {
   background-image: url('images/sort_asc.png');
   background-repeat: no-repeat;
   background-position: center right;
}

table.datatable thead .sorting_desc, table.display thead .sorting_desc {
   background-image: url('images/sort_desc.png');
   background-repeat: no-repeat;
   background-position: center right;
}

table.datatable thead .sorting, table.display thead .sorting {
   background-image: url('images/sort_both.png');
   background-repeat: no-repeat;
   background-position: center right;
}

table tbody tr:hover {
   background-color: rgb(220,220,255);
}

table.invisible tbody tr:hover {
   background-color: transparent;
}

.dataTables_scroll {
   clear: both;
   background-color: #E8E8E8;
   border: 1px solid #B6B6B6;
   padding: .5em;
}

.dataTables_scrollBody {
   margin-top: -1px;
   -webkit-overflow-scrolling: touch;
}

.DTTT_container a.DTTT_button {
	padding: 0px 3px;
}

/* END Datatable */

/* START PowerTip Plugin */
#powerTip {
   cursor: default;
   /* CODEVTT Modification */
   background-color: #767676; /* fallback for browsers that dont support rgba */
   /*background-color: #333; /* fallback for browsers that dont support rgba */
   /* CODEVTT Modification */
   background-color: rgba(118, 118, 118, 0.8);
   /*background-color: rgba(0, 0, 0, 0.8);*/
   border-radius: 6px;
   /* CODEVTT Modification */
   /*color: #FFF;*/
   display: none;
   /* CODEVTT Modification */
   padding: 3px;
   /*padding: 10px;*/
   position: absolute;
   white-space: nowrap;
   z-index: 2147483647; /* https://github.com/stevenbenner/jquery-powertip/commit/b69bf44bdc3f14314c65901c2bdee5d561b905b7 */
}
#powerTip.n:before, #powerTip.e:before, #powerTip.s:before, #powerTip.w:before,
#powerTip.ne:before, #powerTip.nw:before, #powerTip.se:before, #powerTip.sw:before {
   content: "";
   position: absolute;
}
#powerTip.n:before, #powerTip.s:before {
   border-right: 5px solid transparent;
   border-left: 5px solid transparent;
   left: 50%;
   margin-left: -5px;
}
#powerTip.e:before, #powerTip.w:before {
   border-bottom: 5px solid transparent;
   border-top: 5px solid transparent;
   margin-top: -5px;
   top: 50%;
}
#powerTip.n:before {
   /* CODEVTT Modification */
   border-top: 10px solid rgb(118, 118, 118);
   /*border-top: 10px solid rgba(0, 0, 0, 0.8);*/
   bottom: -10px;
}
#powerTip.e:before {
   /* CODEVTT Modification */
   border-right: 10px solid rgb(118, 118, 118);
   /*border-right: 10px solid rgba(0, 0, 0, 0.8);*/
   left: -10px;
}
#powerTip.s:before {
   /* CODEVTT Modification */
   border-bottom: 10px solid rgb(118, 118, 118);
   /*border-bottom: 10px solid rgba(0, 0, 0, 0.8);*/
   top: -10px;
}
#powerTip.w:before {
   /* CODEVTT Modification */
   border-left: 10px solid rgb(118, 118, 118);
   /*border-left: 10px solid rgba(0, 0, 0, 0.8);*/
   right: -10px;
}
#powerTip.ne:before, #powerTip.se:before {
   border-right: 10px solid transparent;
   border-left: 0;
   left: 10px;
}
#powerTip.nw:before, #powerTip.sw:before {
   border-left: 10px solid transparent;
   border-right: 0;
   right: 10px;
}
#powerTip.ne:before, #powerTip.nw:before {
   /* CODEVTT Modification */
   border-top: 10px solid rgb(118, 118, 118);
   /*border-top: 10px solid rgba(0, 0, 0, 0.8);*/
   bottom: -10px;
}
#powerTip.se:before, #powerTip.sw:before {
   /* CODEVTT Modification */
   border-bottom: 10px solid rgb(118, 118, 118);
   /*border-bottom: 10px solid rgba(0, 0, 0, 0.8);*/
   top: -10px;
}

/* END PowerTip Plugin */

/* START Dropdown */

ul.submenu {
   z-index: 1;
   visibility: hidden;
   position: absolute;
   top: 100%;
   left: 0;
	width: 200px; /* fix for Chrome, which will otherwise use the aggregated width of all list items */
	border-top: 1px solid #B6B6B6; /* fix for IE, otherwise the sub-menu will disappear on slow mouse movement */
	padding-left: 0;
}
ul.submenu li {
   background: #E8E8E8;
   border: 0;
   width: 100%;
   padding: 2px 10px !important;
   margin: 0 !important;
   display: inline;
}

ul.submenu li:hover {
   background-color: #C8C8E8;
}

/* IE 6 & 7 Needs Inline Block */
ul.submenu li a {
   font-weight: normal !important;
   padding: 0 !important;
   width: 100%;
   display: inline-block;
   border: 0;
}

/* LEVEL THREE */
ul.submenu ul {
   left: 100%;
   top: 0;
}

.dropdown-li-opened .submenu {
        visibility: visible;
}
.submenu {
       visibility: hidden;
}
.dropdown-icon { width: 16px; height: 16px; background-image: url(images/dropdown-icons_808080_256x240.png); display: inline-block;}
.dropdown-icon-triangle-1-s { background-position: -64px -16px; }

.dropdown-title {
  padding: 0.2em 1em;
  padding-right: 0.5em;
  float: left;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  color: black;
}

.ui-state-active .dropdown-title {
  font-weight: bold;
  color: black;
}

/* END Dropdown */

/* remove close button from dialogbox */
.no-close .ui-dialog-titlebar-close {display: none }

/* vertical tabs */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

/* tabs should not be displayed be default, because of ugly flash on page construction. (FOC) */
.tabs > div { display:none; }

/* START Table with scrollbar */
#table-wrapper {
  position:relative;
}
#table-scroll {
  overflow:auto;
}
#table-wrapper table {
  width:100%;
}
/* END Table with scrollbar */

.imgCsvExport {
   cursor: pointer;
   background-image: url("images/b_export_xls.gif");
}

.moveIssueTimetracks form input
{
    margin: 5px 0px;
}

.moveIssueTimetracks_message
{
    margin: 10px 0px;
}

.moveIssueTimetracks .datepicker
{
    width: 40%;
}

.moveIssueTimetracks_table
{
    margin: 10px 0px;
}

.moveIssueTimetracks span.ui-button-text
{
    font-size: 12px;
}
.error_container
{
    margin: 10px 0px;
}

.success_container
{
    margin: 10px 0px;
}

.vertical-middle
{
   vertical-align: middle;
}

.td_editable {
   cursor: url(images/b_edit.png) 25 15, auto;
}

.alert-message {
   margin: auto;
}

.alert-message > div {
   background-color: #ffffff;
   opacity: 0.5;
   padding: 1em;
}

.info {
   background-color: #f1c40f;
   border: 1px solid #f1c40f;
}

.info {
   background-color: #f1c40f;
   border: 1px solid #f1c40f;
}

.error {
   background-color: #e74c3c;
   border: 1px solid #e74c3c;
}