[general]
codevInstall_timestamp = 0
codevtt_logfile = /tmp/codevtt/logs/codevtt.log
homepage_title = Welcome

[database]
db_mantis_host      = localhost
db_mantis_database  = bugtracker
db_mantis_user      = mantisdbuser
db_mantis_pass      = secret_password

[mantis]
status_names = 10:new,20:feedback,30:acknowledged,40:analyzed,50:open,80:resolved,82:validated,85:delivered,90:closed
priority_names = 10:none,20:low,30:normal,40:high,50:urgent,60:immediate
resolution_names = 10:open,20:fixed,30:reopened,40:unable to duplicate,50:not fixable,60:duplicate,70:not a bug,80:suspended,90:wont fix
severity_names = 10:feature,20:trivial,30:text,40:tweak,50:minor,60:major,70:crash,80:block

[status]
status_new = 10
status_feedback = 20
status_acknowledged = 30
status_open = 50
status_closed = 90

[resolution]
resolution_fixed = 20
resolution_reopened = 30

[relationships]
BUG_CUSTOM_RELATIONSHIP_CONSTRAINED_BY = 2500
BUG_CUSTOM_RELATIONSHIP_CONSTRAINS = 2501