<?php
   // This file is part of CodevTT.
  // - The Variables in here can be customized to your needs
  // - This file is a sample for 'constants.php' which is generated during install

  date_default_timezone_set('Europe/Paris');

  include_once "classes/config.class.php";

  $codevInstall_timestamp = 0;

  $mantisURL="http://".$_SERVER['HTTP_HOST']."/mantis";

  // --- log file as defined in log4php.xml
  $codevtt_logfile = '/tmp/codevtt/logs/codevtt.log';

  $homepage_title = 'Welcome';

  $codevRootDir = dirname(__FILE__);

  // --- RESOLUTION ---
  # WARNING: watch out for i18n ! special chars may break PHP code and/or DB values
  # INFO: the values depend on what you defined in codev_config_table.resolutionNames
  $resolution_fixed    = array_search('fixed',    InternalConfig::$resolutionNames);  # 20
  $resolution_reopened = array_search('reopened', InternalConfig::$resolutionNames);  # 30;

  // --- STATUS ---
  # WARNING: CodevTT uses some global variables for status.
  #          Some of these variables are used in the code, so if they are not defined
  #          in the mantis workflow, they need to be created. The mandatory variables are:
  #           $status_new,
  #           $status_feedback,
  #           $status_acknowledged,
  #           $status_open,
  #           $status_closed

  $statusNames = Config::getInstance()->getValue(Config::id_statusNames);

  # Note: the following status names are defined in the MantisBT default install.
  $status_new          = array_search('new', $statusNames);
  $status_feedback     = array_search('feedback', $statusNames);
  $status_acknowledged = array_search('acknowledged', $statusNames);
  $status_assigned     = array_search('assigned', $statusNames);
  $status_closed       = array_search('closed', $statusNames);

  $status_open = $status_assigned;

# Custom Relationships
define( 'BUG_CUSTOM_RELATIONSHIP_CONSTRAINED_BY',       2500 );
define( 'BUG_CUSTOM_RELATIONSHIP_CONSTRAINS',           2501 );

?>
