<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    more info here:
    http://logging.apache.org/log4php/docs/layouts/pattern.html 
-->

<log4php:configuration xmlns:log4php="http://logging.apache.org/log4php/">
    
    <appender name="myConsoleAppender" class="LoggerAppenderConsole" />
    
    <appender name="myRollingFileAppender" class="LoggerAppenderRollingFile">
        <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%d{Y-m-d H:i:s} %c %-5p %m (%F:%L) [%X{server.REMOTE_ADDR}]%n" />
        </layout>
        <param name="file" value="@TAG_CODEVTT_LOGFILE_FULLPATH@" />
        <param name="maxFileSize" value="6MB" />
        <param name="maxBackupIndex" value="5" />
    </appender>


    <logger name="default">
        <level value="INFO" />
    </logger>
    <logger name="login">
        <level value="INFO" />
    </logger>
    <logger name="homepage">
        <level value="INFO" />
    </logger>
    <logger name="download">
        <level value="INFO" />
    </logger>
    <logger name="Install">
        <level value="DEBUG" />
    </logger>

<!--    
    <logger name="SqlWrapper">
        <level value="INFO" />
    </logger>

    <logger name="SmartyHelper">
        <level value="INFO" />
    </logger>

    <logger name="cache">
        <level value="DEBUG" />
    </logger>

    <logger name="GanttManager">
        <level value="DEBUG" />
    </logger>
    <logger name="GanttActivity">
        <level value="DEBUG" />
    </logger>
    <logger name="Issue">
        <level value="DEBUG" />
    </logger>

    <logger name="gantt_graph">
        <level value="DEBUG" />
    </logger>
    <logger name="Issue">
        <level value="DEBUG" />
    </logger>
    <logger name="TimeTracking">
        <level value="DEBUG" />
    </logger>
    <logger name="User">
        <level value="DEBUG" />
    </logger>
    <logger name="Scheduler">
        <level value="DEBUG" />
    </logger>
    <logger name="IssueSelection">
        <level value="DEBUG" />
    </logger>
    <logger name="ProjectVersion">
        <level value="DEBUG" />
    </logger>

    <logger name="check">
        <level value="DEBUG" />
    </logger>
    <logger name="ConsistencyCheck">
        <level value="DEBUG" />
    </logger>
    <logger name="ConsistencyError">
        <level value="DEBUG" />
    </logger>
-->

    <root>
        <level value="ERROR" />
        <appender_ref ref="myRollingFileAppender" />
    </root>
</log4php:configuration>

