<?php

/**
 * Mantis DB infomation.
 */
class DatabaseInfo {
   public static $db_mantis_host = 'localhost';
   public static $db_mantis_user = 'codev';
   public static $db_mantis_pass = 'codev';
   public static $db_mantis_database = 'bugtracker';
}

?>
