// ==UserScript==
// @name           CodevTT link in Mantis View page
// @namespace      Mantis
// @include        @TAG_MANTIS_URL@/view.php?id=*
// @version        0.1
// ==/UserScript==

var codevtt_ip = location.hostname
var elemID = document.evaluate("//tr[@class='row-1']/td",document,null,9,null).singleNodeValue;
elemID.innerHTML = "<a href='@TAG_CODEVTT_URL@/reports/issue_info.php?bugid="+elemID.textContent+"' title='show in CodevTT'>"+elemID.textContent+"</a>";
